body
{  
    font-family: 'RobotoDraft', 'Roboto', sans-serif;
    font-smoothing: antialiased;
    background-image: url("https://i.ibb.co/26KTGdk/papers-co-sj61-gray-dark-gradation-blur-3840x2400.jpg");
    height: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

*
{
    box-sizing: border-box;  
}
/* manu */
.box
{
    background-color: dimgrey; 
    display: flex;
}

.btn
{
    line-height: 50px;
    height: 48px;
    text-align: center;
    width: 110px;
    cursor: pointer;
}
.btn-three
{
    transition: all 0.9s;
    position: relative;
}
.btn-three::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(206,206,206,0.3) 0%, rgba(77,77,77,0.2) 100%);
    transition: all 0.3s;
}
.btn-three:hover::before
{
    opacity: 0 ;
    transform: scale(0.5,0.5);
}
.btn-three::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    transform: scale(1.2,1.2);
}
.btn-three:hover::after
{
    opacity: 1;
    transform: scale(1,1);
}

h5
{
    margin:0px;
    font-size:1.4em;
    font-weight:700;
    color: whitesmoke;
    text-align: center;
}

p
{
    font-size:12px;
    color: white;
    text-align: center;
}

.center
{
    height:100%;
    width:100%;
    padding:0em auto;
}

/* Card */
.menu
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #313335;
    height:3em;
    width:24em;
    margin: auto;
    border-radius:16px 16px 0px 0px;
    box-shadow: -0px -0px 10px #000000;
    margin-bottom:0em;
    margin-top:1em;
    position:relative;    
}

.property-card
{
    background: #313335;
    color: aliceblue;
    height:28em;
    width:24em;
    margin:0% auto;
    display:flex;
    flex-direction:column;
    position:relative;
    border-radius:0px 0px 16px 16px;
    overflow:hidden;
    box-shadow: -0px -0px 27px #000000;
    padding-top: 1em;
    margin-bottom:3em;
}

/* Icons */
.icons
{
    display: flex;  
    position:relative;
    bottom:0em;
    top: 270px;
    justify-content: center;
}
a, a:hover
{
    text-decoration: none;
}

.socialbtns, .socialbtns ul, .socialbtns li
{
    margin: 0;
    padding: 5px;
}

.socialbtns li
{
    list-style: none outside none;
    display: inline-block;
}
.socialbtns .fa
{
    width: 40px;
    height: 28px;
    color: #000;
    background-color: dimgrey;
    border: 1px solid #404040;
    padding-top: 5px;
    border-radius: 22px;
}
.socialbtns .fa:hover
{
    color: #FFF;
    background-color: #202020;
    border: 1px solid #202020;
}
.small
{
    filter: invert(100%);
    width: 50px;
}

/* Loading */

.loader
{
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    perspective: 800px;
}

.inner
{
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;  
}

.inner.one
{
    left: 0%;
    top: 0%;
    animation: rotate-one 1s linear infinite;
    border-bottom: 3px solid #EFEFFA;
}

.inner.two
{
    right: 0%;
    top: 0%;
    animation: rotate-two 1s linear infinite;
    border-right: 3px solid #EFEFFA;
}

.inner.three
{
    right: 0%;
    bottom: 0%;
    animation: rotate-three 1s linear infinite;
    border-top: 3px solid #EFEFFA;
}

@keyframes rotate-one {
    0% {
	transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
	transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes rotate-two {
    0% {
	transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
	transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes rotate-three {
    0% {
	transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
	transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

/*Shelves*/

.shelf
{
    display: table;
    position: relative;
    margin: 20px auto 0;
    width: 350px;
    height: 60px;
    background-color: #000;
    color: #fff;
    border-radius:16px 16px 16px 16px;
    
}
.shelf-icon
{
    display: table-cell;
    vertical-align: middle;
    width: 60px;
    padding: 40px;
    text-align: center;
    background-color: #212121;
    border-radius:16px 16px 16px 16px;
    opacity: 70%;
}

.shelf-body
{
    display: table-cell;
    vertical-align: middle;
    padding: 30px 20px 30px 10px;
}
